@tailwind base;
@tailwind components;
@tailwind utilities;



/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1a1a2e;
    /* Dark track */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #1a3b60;
    /* Blue thumb */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #357ab7;
    /* Slightly darker blue on hover */
}
